<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>D Shop</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <%- include('./layouts/head.ejs') %>
        <style>
            .navbar-light .navbar-nav .nav-link:hover,
            .navbar-light .navbar-nav .nav-link.active {
                color: black;
            }
        </style>
</head>

<body>
    <%- include('./layouts/header.ejs') %>
        <%- include('./layouts/menu.ejs') %>

            <!-- Shop Start -->
            <div class="container-fluid pt-3">
                <div class="row px-xl-5">
                    <!-- Shop Sidebar Start -->
                    <div class="col-lg-3 col-md-12">
                    </div>
                    <!-- Shop Sidebar End -->


                    <!-- Shop Product Start -->
                    <div class="col-lg-9 col-md-12">
                        <div class="row pb-3">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <h3>
                                        <%= nameCategory %>
                                    </h3>
                                    <div class="dropdown ml-4">
                                        <button class="btn border dropdown-toggle" type="button" id="triggerId"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Sắp xếp theo
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                            <a class="dropdown-item" href="#">A-Z</a>
                                            <a class="dropdown-item" href="#">Z-A</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% product.forEach((pro)=> { %>
                                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                                    <a href="/detail/<%= pro.idProduct%>" title="<%= pro.nameProduct %>">
                                        <div class="card product-item border-0 mb-4">
                                            <div
                                                class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                                <img class="img-fluid w-100" style="height: 300px;"
                                                    src="/<%= pro.images %>" alt="">
                                            </div>
                                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                                <h6 class="text-truncate mb-3">
                                                    <%= pro.nameProduct %>
                                                </h6>
                                            </div>
                                            <div class="card-footer d-flex justify-content-center bg-light border">
                                                <a href="/detail/<%= pro.idProduct%>"
                                                    class="btn btn-sm text-dark p-0"><i
                                                        class="fas fa-eye text-primary mr-1"></i>Xem</a>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                    <!-- Shop Product End -->
                </div>
            </div>
            <!-- Shop End -->


            <%- include('./layouts/footer.ejs') %>
</body>

</html>